CONFIG_ARM=y
CONFIG_SYS_DCACHE_OFF=y
CONFIG_ARCH_FH8626V100=y
CONFIG_SUPPORT_PASSING_ATAGS=y
CONFIG_CMDLINE_TAG=y
CONFIG_INITRD_TAG=y
CONFIG_STATIC_MACH_TYPE=y
CONFIG_MACH_TYPE=9999
CONFIG_TEXT_BASE=0xA3000000
CONFIG_SYS_MALLOC_LEN=0x200000
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xA2F00000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x10000
CONFIG_DEFAULT_DEVICE_TREE="fh8626v100"
CONFIG_SYS_LOAD_ADDR=0xA1000000
CONFIG_DEBUG_UART_BASE=0xF0700000
CONFIG_DEBUG_UART_CLOCK=16666667
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=1
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_SYS_PROMPT="FH8626V100 # "
CONFIG_DM_SERIAL=y
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYS_NS16550=y
CONFIG_SYS_NS16550_MEM32=y
CONFIG_DESIGNWARE_APB_TIMER=y
